{
  "presets": ["es2015"],
  "plugins":
  [
    "add-module-exports",
    ["module-alias",
      [
        { "src": "npm:escomplex-plugin-metrics-project/dist", "expose": "escomplex-plugin-metrics-project/src" },
        { "src": "npm:typhonjs-escomplex-commons/dist", "expose": "typhonjs-escomplex-commons/src" },
        { "src": "npm:typhonjs-escomplex-module/dist", "expose": "typhonjs-escomplex-module/src" },
        { "src": "npm:typhonjs-plugin-manager/dist", "expose": "typhonjs-plugin-manager/src" }
      ]
    ]
  ]
}
